apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-provisioner
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nfs-provisioner
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-provisioner
    spec:
      serviceAccount: nfs-provisioner
      containers:
        - name: nfs-provisioner
          image: registry.cn-hangzhou.aliyuncs.com/open-ali/nfs-client-provisioner
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: {{ NFS_PROVISIONER_NAME }}
            - name: NFS_SERVER
              value: {{ NFS_SERVER_IP }}
            - name: NFS_PATH
              value: {{ NFS_MOUNT_PATH }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{ NFS_SERVER_IP }}
            path: {{ NFS_MOUNT_PATH }}
